header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  padding: 0 50px;
  background: #515a6e;
  .logo {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background: #5b6270;
  }
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 100%;
    li {
      font-size: 18px;
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 100%;
      padding: 0 20px;
      cursor: pointer;
      white-space: nowrap;
      opacity: .4;
      color: #fff;
      .iconfont {
        margin-right: 6px;
      }
    }
    .active {
      opacity: 1;
    }
  }
  .name {
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
  }
  .exit {
    cursor: pointer;
    &:hover {
      color: #f2545a;
    }
  }
}
main {
  font-size: 14px;
  position: relative;
  min-height: 82%;
  padding: 0 50px;
  border-radius: 4px;
  background-color: #f5f7f9;
  .layout {
    width: 1124px;
    margin: 0 auto;
    background-color: #fff;
  }
}
footer {
  font-size: 14px;
  padding: 24px 50px;
  text-align: center;
  color: #515a6e;
  border-top: 1px solid #d7dde4;
  background-color: #fff;
}
