.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.card-wrap {
  position: relative;
  z-index: 99999;
  box-sizing: border-box;
  padding: 40px;
  .title {
    font-size: 42px;
    font-weight: bold;
    user-select: none;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px #515a6e;
  }
  .form {
    width: 320px;
    margin: 0 auto;
    margin-top: 60px;
    .code-box {
      line-height: 1;
      img {
        width: 100%;
        height: 40px;
        cursor: pointer;
      }
    }
    .ivu-input {
      font-size: 18px;
      height: 40px;
      border: none;
      background-color: #fff;
      box-shadow: inset 0 1px 2px #515a6e;
    }
  }
  .remember {
    font-size: 16px;
    margin: 0;
    color: #fff;
  }
  .btn {
    font-size: 16px;
    font-weight: bold;
    height: 38px;
  }
}
